html {font-size: 1em;}

body {
  background-color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  line-height: 1.45;
  margin: 0px;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-family: 'Lato', sans-serif;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  font-size: 2.441em;
}

h2 {font-size: 1.953em;}

h3 {font-size: 1.563em;}

h4 {font-size: 1.25em;}

small, .font-small {font-size: 0.8em;
}

a {
  color: black;
  text-decoration: underline;
}

a:visited {
  color: black;
  text-decoration: underline;
}

/* ------- character styles ---------- */

.lead {
  line-height: 1.25em;
  padding-bottom: 10%;
}

.project-name  {
  font-weight: 600;
}

.about-title {
  font-weight: 700;
}

/* ------- helper styles ---------- */

.center {
  margin: auto;
}

.right {
  float: right;
}

/*.left {
  float: left;
}*/

/* ------- main container styles ---------- */

.main-container {
  margin: auto;
}

/* ------- nav styles ---------- */

.nav {
  background-color: black;
  height: 45px;
  position: fixed;
  top: 0;
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

.nav-left ul {
  list-style-type: none;
  float: right;
}

.nav ul {
  text-decoration: none;
  margin: 0;
  padding: 0px 10px 0px 0px;
}

.nav li {
  float: left;
  padding-left: 20px;
}

.nav a {
  display: block;
  text-decoration: none;
  color: white;
  padding-top: 10px;
}

.nav a:hover {
  text-decoration: underline;
}

.nav a:visited {
  color: white;
}

/* ------- hero styles ---------- */
.hero {
  padding-top: 15%;
  margin: auto;
  width: 90%;
}
.hero-link-container {
  padding-bottom: 15%;
}
.hero-link {
  text-decoration: underline;
  font-weight: 700;
  padding-top: 3%;
}

/* ------- divider styles ---------- */
.section-divider {
  height: 30px;
  background-color: black;
}

/* ------- gallery styles ---------- */
.wrap {
   overflow: hidden;
   margin: 0px;
}
.box {
   float: left;
   position: relative;
   width: 100%;
   padding-bottom: 100%;
}
.boxInner {
   position: absolute;
   left: 0px;
   right: 0px;
   top: 0px;
   bottom: 0px;
   overflow: hidden;
}
.boxInner img {
   width: 100%;
}
.boxInner .titleBox {
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   margin-bottom: -50px;
   background: #000;
   background: rgba(0, 0, 0, 0.5);
   color: #FFF;
   padding: 10px;
   text-align: center;
   -webkit-transition: all 0.3s ease-out;
   -moz-transition: all 0.3s ease-out;
   -o-transition: all 0.3s ease-out;
   transition: all 0.3s ease-out;
}
body.no-touch .boxInner:hover .titleBox, body.touch .boxInner.touchFocus .titleBox {
   margin-bottom: 0;
}

/* ------- partial styles ---------- */

.partial-container {
  width:90%;
  margin: auto;
  padding-top: 10%;
  padding-bottom: 10%;
}
/* ------- partial-a styles ---------- */
.partial-a {
  background-color: #009999;
}

.partial-a-title {
  color: white;
}

.partial-a .project-links-a p {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* ------- partial-b styles ---------- */

.partial-b {
  background-color: black;
  color: white;
}
.partial-b-title {
  color: #FFCC00;
}

.partial-b .project-links-b p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.partial-b a {
  color: white;
  text-decoration: none;
}

/* ------- partial-c styles ---------- */
.partial-c {
  background-color: #CC6699;
}
.partial-c-title {
  color: white;
}

.partial-c a {
  text-decoration: none;
}

/* ------- about styles ---------- */
.about {
  background-color: #FFCC00;
  padding-bottom: 5%;
}

.button-container {
    display: flex;
    justify-content: flex-start;
    margin: 15% auto;
}

.button {
  border: 0 none;
  padding: 12px 35px;
  margin: 0 10px;
  display: inline-block;
  text-transform: none;
  transition: all 80ms ease-in-out;
}

.button-dark {
  border: 2px solid black;
  background: black;
  color: white;
  font-weight: 700;
}

.button-dark:hover {
  border: 2px solid black;
  background: transparent;
  color: black;
}

/* ------- footer styles ---------- */
footer {
  background-color: black;
  height: 45px;
  color: white;
}

footer .font-small {
  padding-left: 20px;
  padding-top: 10px;
}

/* ------- media queries ---------- */
