html {font-size: 1em;}

body {
  background-color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  line-height: 1.45;
  margin: 0px;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-family: 'Lato', sans-serif;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  font-size: 2.441em;
}

h2 {font-size: 1.953em;}

h3 {font-size: 1.563em;}

h4 {font-size: 1.25em;}

small, .font-small {font-size: 0.8em;}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

/* ------- character styles ---------- */
.brand {
  font: white;
}
.lead {
  line-height: 1.25em;
  padding-bottom: 10%;
}

/* ------- helper styles ---------- */

.center {
  margin: auto;
}

.right {
  float: right;
}

/*.left {
  float: left;
}*/


/* ------- main container styles ---------- */
.main-container {
  margin: auto;
}

/* ------- nav styles ---------- */

.nav {
  background-color: black;
  height: 45px;
}

.nav-head{
  display: block;
  text-align: left;
}

ul {

}

.nav-links {
  list-style-type: none;
  text-align: right;
  display: inline-block;
  font: white;
  text-decoration: none;
}
li a {
  display: inline-block;
  text-align: center;
  font: white;
  text-decoration: none;
}

.nav > li {
  text-decoration: none;
  display: block;
}

.nav > a{
  text-decoration: none;
  display: block;
}

/* ------- hero styles ---------- */
.hero {
  margin: auto;
  width: 90%;
}
.hero-link-container {
  padding-bottom: 10%;
}
.hero-link {
  text-decoration: underline;
  font-weight: 700;
}

/* ------- partial-a styles ---------- */
.partial-a {
  margin:inherit;
  background-color: teal;
  height: 200px;
}

.partial-a-title {
  font: black;
}

/* ------- partial-b styles ---------- */
.partial-b {
  margin:inherit;
  background-color: black;
  height: 200px;
}
.partial-b-title {
  font: white;
}

/* ------- partial-c styles ---------- */
.partial-c {
  margin:inherit;
  background-color: pink;
  height: 200px;
}
.partial-c-title {
  font: black;
}

/* ------- about styles ---------- */
.about {
  margin: inherit;
  background-color: yellow;
  height: 200px;
}

/* ------- footer styles ---------- */
footer {
  background-color: black;
  height: 45px;
  font: white;
}

/* ------- media queries ---------- */
